<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>


<div class="jumbotron text-center">
  <div class="container">
    <h1>Group Pulse Watch</h1>
    <h3><a href="/auth/fitbit">Log In with Fitbit</a></h3>
  </div>
</div>


</body>
</html>
